/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

 *{
   font-family: 'Reem Kufi', sans-serif;
 }

.about {
  font-size: 20px;
}
 #logo {
 	font-size: 29px;
 	font-weight: 700;
 	text-transform: uppercase;
 	letter-spacing: -1px;
 	padding: 15px 0;
 	a {
 		color: white;
 	}
 }

 ul {
   list-style: none;
   padding: 0;
   li {
     font-size: 18px;
     color: white;
   }
 }
 label, textarea, input, button, select {
   display: block;
 }
 input[type="submit"] {
   margin-top: 1em;
 }

header{
 	background-image: linear-gradient(200deg, rgb(74, 174, 179) 10%, rgb(42, 80, 167) 100%);

 }

 .nav.navbar-nav.navbar-right li a {
     color: white;
 }
 
 img{
   display: flex;
   width: 300px;
 }


 .flex-box {
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 #main_content {
 	#content {
 		float: none;
 	}
 	padding-bottom: 100px;
 	.link {
 		padding: 2em 1em;
 		border-bottom: 1px solid #e9e9e9;
 		.title {

 			a {
 				color: #FF4500;
 			}
 		}
 	}
}

.well {
  display: inline-block;
  width:auto; max-width:1200px;
}

.sort-by{
  font-size: 18px;
}
